:root {
  --blue-text-colour: #2196F3;
}



body {
font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


/*--------------header---------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #2196F3;
}
.header-studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 93px;

  color: #212121;
}

.header-link-studio {
  font-weight: 500;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  margin-left: auto;
}



.header-container {
  display: flex;
  align-items: center;
}


.header-contacts {
  font-weight: 500;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-link-studio{
  margin-right: 50px;
  color: #212121;
  transition: color 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-contacts { 
  margin-right: 50px;
  color: #212121;
  transition: color 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link { 
  margin-right: 50px;
  color: #212121;
  transition: color 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .current{
  position: relative;
  color: var(--blue-text-colour);
}


.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background-color: var(--blue-text-colour);
}


.link-header-icon {
  margin-right: 10px;
  fill:  #757575;;
}


.link-header-mail  {
  color: #757575;;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: color 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header-tel  {
  color: #757575;;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition: color 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-link:hover, .header-link:focus {
  color:  var(--blue-text-colour);
}

.header-link-contacts:hover, .header-link-contacts:focus {
  color:  var(--blue-text-colour);
}

.header-link-studio:hover, 
.header-link-studio:focus {
  color:  var(--blue-text-colour);
}

.link-header-tel:hover,
.link-header-tel:focus {
  color:  var(--blue-text-colour);
}

.link-header-tel:hover svg,
.link-header-tel:focus svg {
  fill: var(--blue-text-colour);
}

.link-header-mail:hover,
.link-header-mail:focus {
  color:  var(--blue-text-colour);
}

.link-header-mail:hover svg,
.link-header-mail:focus svg {
  fill: var(--blue-text-colour);
}

/*--------------solution---------------------*/

.solution {
  background: #2F303A; 
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgsolution.jpg);
 
  background-position: center;
}



.solution-title {
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: #FFFFFF;
}

.solution-btn {
  font-size: 16px;
  line-height: 30px; 
  width: 200px;
  height: 50px;

  letter-spacing: 0.06em;
  display:  block;
  margin: 0 auto;

  

  color: #FFFFFF;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196F3;
  transition: color 250ms;
}

.solution-btn:hover,
.solution-btn:focus {
  color: #212121;
}

/*-------------grade---------------------*/


.grade {
padding-top: 94px;
padding-bottom: 94px;
}

.grade-list {
  display: flex;
}



.grade-item {
  width: 270px;
}

.grade-item:not(:last-child){
  margin-right: 30px;
}

.grade-title{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  
  color: #212121;
}

.grade-aft-title {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.grade-container {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.grade-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grade-social-icon {
  margin-bottom: 25px;
  margin-top: 25px;
}
/*-----------------whatdo_________________*/

.whatdo {
  margin-bottom: 94px;
}

.whatdo-item:not(:last-child){
margin-right: 30px;
}

.whatdo-list {
  display: flex;
  justify-content: space-between;
}

.whatdo-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  
  color: #212121;
}

.whatdo-item-wrap {
  position: relative;
}

.whatdo-add-text {
font-weight: bold;
position: absolute;
bottom: 0;
width: 100%;
font-size: 14px;
line-height: 16px;
text-align: center;
/*letter-spacing: 0.03em;*/
text-transform: uppercase;


padding-left: 86px;
padding-right: 86px;
padding-top: 27px;
padding-bottom: 27px;

display: flex;
justify-content: center;

background: rgba(47, 48, 58, 0.8);
color: #FFFFFF;
}
  
  /*------------team-----------------*/

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.team-list {
  display: flex;
  text-align: center;
  justify-content: center;
}



.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  
  color: #212121;
}

.team-item:not(:last-child){
  margin-right: 30px;
}

.team-contact {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-pre-title {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  padding-bottom: 10px;

  color: #212121;
}

.team-aft-title{
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  
  color: #757575;
}

.team-social-item {
  width: 44px;
  height: 44px;
  }

  .team-social-list {
    display: flex;
    justify-content: center;
  }

  .team-social-item + .team-social-item {
    margin-left: 10px;
  }

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: #FFFFFF;;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;;
  transition: fill 250ms,  background 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.team-social-link:hover,
.team-social-link:focus {
  background: var(--blue-text-colour);
  fill: #FFFFFF;
}




/*-----------clients--------*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-social-item {
  width: 170px;
  height: 92px;
  }

.clients-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  fill: #afb1b8;
  outline: rgba(33, 150, 243, 0.9);
  color: var(--blue-text-colour);
  transition: fill 250ms, border 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-social-link:hover,
.clients-social-link:focus {
  fill: currentColor;
  border-color: var(--blue-text-colour);
}

.clients-social-link:hover .clients-social-icon
.clients-social-link:focus .clients-social-icon {
  fill: var(--blue-text-colour);
}

.clients-social-list{
  display: flex;
  justify-content: space-between;

}

.clients-title {
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;

color: #212121;
  
}

.clients-social-conteiner {
  width: 170px;
  height: 92px;
  transition: color 250ms;
}


.clients-social-item + .clients-social-item {
  margin-left: 30px;
}

/*------------footer-------------*/



.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-wraper {
  display: flex;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--blue-text-colour);
}

.footer-studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #FFFFFF;
}



.footer-studio {
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}




.footer-mail {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  
  color: rgba(255, 255, 255, 0.6);
}



.footer-tel {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}

.footer-map {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}




.footer-link:hover {
  color: var(--blue-text-colour);
}


.footer-social-item {
  width: 44px;
  height: 44px;
  }
  
  
.footer-social-link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      fill: #FFFFFF;
      color: #FFFFFF;
      transition: fill 250ms, background-color 250ms;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  fill: currentColor;
  background-color: var(--blue-text-colour);
  }
  
  .footer-solution-connect {
    margin-left: 50px;
  }

.footer-connect {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 /14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}


.footer-subscribe-text {
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 358px;
height: 50px;
background: #2F303A;;
}

.footer-btn-subscribe {
font-size: 16px;
line-height: calc(30 / 16);
width: 200px;
height: 50px;

display: flex;
justify-content: center;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
border-color: var(--blue-text-colour);


background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

color: #FFFFFF;
}

.footer-icon-link {
  margin-left: 10px;
}

.footer-subscribe {
  margin-left: 154px;
}

.footer-input {
  color: #FFFFFF;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  resize: none;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
}

.footer-subscribe-text {
margin-bottom: 20px;
margin-right: 12px;
}

.footer-item-subscribe {
  display: flex;
}

.footer-btn-subscribe {
  margin-left: 12px;

}

/*--------portfolio-------*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-link1 {
  display: flex;
  margin-left: auto;
  align-items: center;
}



.portfolio-link {
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  color: #fff;
}



.portfolio-btn {
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em; 
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  color: #212121;

  background: #F5F4FA;
  border-radius: 4px;
  transition: color 300ms, background 300ms;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--blue-text-colour);
  color: #fff;
}

.portfolio-wraper {
  width: 370px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}


.portfolio-btn:not(:nth-child(5n)) {
  margin-right: 8px;
}

.portfolio-item {
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms;
  color: #212121;
}


.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-sec-title {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  
  color: #757575;
}

.portfolio-photo-link {
  display: flex;
  flex-wrap: wrap;
}



.portfolio-photo-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-photo-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-photo-item:hover 
.portfolio-text-title {
transform: translateY(0);
}

.portfolio-photo-item:hover,
.portfolio-photo-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  background: #FFFFFF;
  cursor: pointer;
}

.portfolio-photo-item:hover,
.portfolio-photo-item:focus {
  background-color: rgba(255, 255, 255, 0.6);
}



.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text-title {
  position: absolute;
  top: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  height: 100%;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 300ms;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 38, 0.6);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
} 

.backdrop.is-hidden .modal {
  transform: scale(2) rotate(180deg);
}

.modal  {
  width: 500px;
  min-height: 500px;
  background: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms;
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}



.modal-btn {
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.modal-btn:hover,
.modal-btn:focus {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: calc(23 / 20);
  color: #212121;;
  text-align: center;
  margin-bottom: 15px;
}

.form-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 30px;
  outline: none;
  appearance: none;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-textarea:focus {
  border-color: var(--blue-text-colour);
}

.modal-input:focus {
  border-color: var(--blue-text-colour);
}

.modal-input:focus + .input-icon {
  fill: var(--blue-text-colour);
}





.form-label {
  font-size: 12px;
  color: #303030;
  margin-bottom: 5px;
  display: block;
  line-height: calc(14 / 12); 
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  resize: none;
  outline: rgba(33, 150, 243, 0.9);
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
}

.policy-text-check {
  color: var(--blue-text-colour);
}

/*.policy-check
  {
  -moz-appearance: none;
  -webkit-appearance: none; 
  appearance: none;
  position: absolute;
}*/


.policy-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  align-items: center;
  position: relative;
  /*letter-spacing: 0.03em;*/

  color: #757575;
}

.policy-agree {
  margin-left: 10px;
}

.policy-text::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px  solid #000000;
  border-radius: 2px;
  margin-right: 3px;
}

.policy-check:checked + .policy-text::before {
  background-image: url(../images/symbol-defs.svg#icon-icon-check);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.btn {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  display: flex;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-color: var(--blue-text-colour);
  border-radius: 4px; 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
}

.button-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-check {
  color: #2196F3;
}